<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
	<description>Settings for XQuery Servlet Pages</description>
	<servlet>
		<servlet-name>XQueryServlet</servlet-name>
		<servlet-class>xbird.servlet.xqsp.XQueryServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>XQueryServlet</servlet-name>
		<url-pattern>*.xqsp</url-pattern>
	</servlet-mapping>	
</web-app>